<ion-view title="¿Por Qué?" id="porque" class="inicio-pane">
    <ion-content padding="false" class="has-header">
        <div style="position: absolute;
    width: 100%;
    bottom: 0px; text-align: center;">
            <p style="margin: 0px">{{co2}} kg de CO2</p>
            <div style="border: solid 1px #AAAAAA; margin: 20px;">
                <div style="width: {{co2}}%; background-color: green; height: 10px;"></div>
            </div>
            <p style="margin: 0px">Año {{year}}</p>
            <div class="item range" style="border: 0">
              <!--i class="icon ion-volume-low"></i-->
              <input type="range" name="year" ng-model="year" min="1816" max="2016">
              <!--i class="icon ion-volume-high"></i-->
            </div>
        </div>
	</ion-content>
</ion-view>